apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: jupyterhub-httpproxy
  namespace: ${environment.namespace}
spec:
  virtualhost:
    fqdn: hub.${var.hostname}
    tls:
      secretName: hub.${var.hostname}-tls
  routes:
  - conditions:
    - prefix: /
    services:
    - name: proxy-public
      port: 80
    enableWebsockets: true
---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: minio-httpproxy
  namespace: ${environment.namespace}
spec:
  virtualhost:
    fqdn: minio.${var.hostname}
    tls:
      secretName: minio.${var.hostname}-tls
  routes:
  - services:
    - name: minio
      port: 9000
    conditions:
    - prefix: /
    # timeoutPolicy:
    #   response: 300s
    #   idle: 300s
  - services:
    - name: minio
      port: 9001
    conditions:
    - prefix: /ui
    # timeoutPolicy:
    #   response: 60s
    #   idle: 60s
    enableWebsockets: true
    pathRewritePolicy:
      replacePrefix:
      - prefix: /ui
        replacement: /
---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: dashboards-httpproxy
  namespace: ${environment.namespace}
spec:
  virtualhost:
    fqdn: dashboards.${var.hostname}
    tls:
      secretName: dashboards.${var.hostname}-tls
  routes:
  - conditions:
    - prefix: /
    services:
    - name: panel-app
      port: 5006
    enableWebsockets: true
    timeoutPolicy:
      response: 300s
      idle: 300s