secrets:
  keycloak-secrets:
    data:
      smtp-from: address@gmail.com
      smtp-reply-to: address@gmail.com
      smtp-username: address@gmail.com
      smtp-password: smtp-password-placeholder
      api-key-hash-salt: local-dev-change-me
  prefect-workflow-secrets:
    data:
      api-usgs-pat: usgs-api-key-placeholder
  jupyter-user-secrets:
    data:
      api-key: teehr-download-api-key-placeholder